<div class="container">
      <div class="logoandmenu">
        <div class="logo">
          <a href="" class="logo">
              <img src="{{ url_for('static', filename='img/main/Logo.svg') }}" alt="Оранжевый Проект
              - Авторский блог об интересной музыке" class="logo-btn">
          </a>
        </div>

        <nav class="mainmenu">
          <ul class="menu">
          <li><a href="#" class="menulinks">Оранжевый Блог</a> </li>
          <li><a href="#" class="menulinks">Архив Подкаста</a> </li>
          <li><a href="#" class="menulinks">О проекте</a> </li>
          </ul>
        </nav>

  <div class="searchbar">
    <form action="">
        <input type="search" placeholder="Поиск по блогу...">
        <i class="fa fa-search"></i>
    </form>
  </div>
  </div>
</div>