{% extends 'main/base.html' %}

{% block link %} <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}"> {% endblock %}
{% block title %}Регистрация{% endblock %}

{% block content %}
        <div class="circle"> </div>
        <div class="register-form-container">
            <h1 class="form-title"> Регистрация</h1>
            <div class="form-fields">
                <div class="form-field">
                    <input class="form-input" type="text" name="username" placeholder="Логин">
                </div>
                <div class="form-field">
                    <input class="form-input" type="text" name="email" placeholder="Почта">
                </div>
                <div class="form-field">
                    <input class="form-input" type="text" name="password" placeholder="Пароль">
                </div>
                <div class="form-field">
                    <input class="form-input" type="text" name="password2" placeholder="Подтвердите пароль">
                </div>

            </div>
            <div class="form_butons">
                <button class="button"> Зарегистрироваться</button>
            </div>
        </div>

{% endblock %}